table {
    border-collapse: collapse;
    --cor-borda: black;
    --tipo-borda: solid;
    --tamanho-borda: 1px;
}

td {
    border: var(--tamanho-borda) var(--tipo-borda) var(--cor-borda);
    width: 100px;
    height: 100px;
}
